[run]
source = src
omit = 
	*migrations*
	*test_*
	src/config/settings/local.py
	src/config/settings/prod.py
	src/config/settings/staging.py
	src/config/settings/ci.py
	*factories.py
	src/config/wsgi.py
	src/manage.py
