# (c) All rights reserved. ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE, Switzerland, VPSI, 2017
---
version: '2'

services:

  redis:
    image: library/redis

  django:
    image: epflidevelop/amm-dev:latest
    volumes:
      - ./src:/opt/amm/src
      - ./htmlcov:/opt/amm/htmlcov
      - ./bin:/opt/amm/bin
    environment:
      ACCRED_PASSWORD: ${ACCRED_PASSWORD}
      SECRET_KEY: ${SECRET_KEY}
      TEST_CORRECT_PWD: ${TEST_CORRECT_PWD}
      TEST_WRONG_PWD: ${TEST_WRONG_PWD}
      TEST_USERNAME: ${TEST_USERNAME}
      LDAP_BASE_DN: ${LDAP_BASE_DN}
      LDAP_USER_SEARCH_ATTR: ${LDAP_USER_SEARCH_ATTR}
      LDAP_SERVER: ${LDAP_SERVER}
      LDAP_SERVER_FOR_SEARCH: ${LDAP_SERVER_FOR_SEARCH}
      LDAP_USE_SSL: 'false'
      CACHE_REDIS_LOCATION: ${CACHE_REDIS_LOCATION}
      CACHE_REDIS_CLIENT_CLASS: ${CACHE_REDIS_CLIENT_CLASS}
      AMM_AUTHENTICATOR_CLASS: mock
      AMM_ENVIRONMENT: ${AMM_ENVIRONMENT}
      DJANGO_WORKER_COUNT: 1
      DJANGO_SETTINGS_MODULE: config.settings.local
      RANCHER_API_URL: ${RANCHER_API_URL}
      RANCHER_VERIFY_CERTIFICATE:  ${RANCHER_VERIFY_CERTIFICATE}
      RANCHER_ACCESS_KEY: ${RANCHER_ACCESS_KEY}
      RANCHER_SECRET_KEY: ${RANCHER_SECRET_KEY}
      REST_API_ADDRESS: ${REST_API_ADDRESS}

    expose:
      - "8000"
    links:
      - redis

  nginx:
    image: library/nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/amm.conf
      - ./src:/opt/amm/src
    ports:
      - "127.0.0.1:8000:80"
    links:
      - django
